nav{
    background-color: rgb(42, 49, 58);
    
    display: flex;
    margin-left: ;
    margin-right: ;
    border-radius: 10px;
}

p{
    margin-left: 20%;
    margin-right: 20%;
    
}
body{ 
    color: bisque;
    background: #1F1717;
    
 }
 label{
     align-items: center;
 }