nav{
    background-color: rgb(42, 49, 58);
    
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
}

p{
    margin-left: 20%;
    margin-right: 20%;
    
}
body{ 
    color: bisque;
    background: #1F1717;
    
 }
 .imgSlider{
    width: 500px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
 }
 .imgSlide{
    width: 200px;
    height: 200px;
    display: flex;
 }
