nav{
    background-color: rgb(42, 49, 58);
    
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
}

p{
    margin-left: 20%;
    margin-right: 20%;
    
}
body{ 
    margin: 0;
    padding: 0;
    height: 100vh; 
    justify-content: center;
    align-items: center; 
    /*color: bisque;
    background: #1F1717;*/
    
 }
 .imgSlider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
 }
 .imgSlides{
    width: 500px;
    height: 500px;
    display: flex;
 }
 .imgSlides input{
     display: none;
 }
 .slide{
     width: 20%;
     transition: 2s;
 }
 .slide img{
     width:  800px;
     height: 500px;
 }
/*Navigation , manual slider*/

.move-nav-auto{

}
.move-nav-manual{
    position:  absolute;
    width:  800px;  
    margin-top: -40px;  
    display: flex;
    justify-content: center;

}
.btnManual{
    border:  2px solid #42454F ;
    padding: 5px;
    border-radius: 10px;    
    cursor: pointer;
    transition: 1s;
}